In [12]:
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

### Pulling down the Listing Data

In [20]:
r = requests.get('https://www.propertypro.ng/property-for-rent/flat-apartment/?search=&bedroom=&min_price=&max_price=3000000')

soup = BeautifulSoup(r.content, 'html5lib')

In [21]:
listing_divs = soup.select('div[class=single-room-sale\ listings-property]')
print("Number of apartment listings on a page:", len(listing_divs))

Number of apartment listings on a page: 20

In [22]:
listing_divs[0]

<div class="single-room-sale listings-property">
<div class="single-room-img">
<a class="single-room-img-a" href="/property/3-bedroom-flat-apartment-for-rent-olaleye-estate-alaka-iponri-surulere-lagos-9ECUX"> <img alt="3 bedroom Flat / Apartment for rent OLALEYE Estate  Alaka/Iponri Surulere Lagos" class="listings-img" src="https://images.propertypro.ng/medium/brand-new-spacious-and-serviced-3bedroom-apartments-in-surulere-CfyqC5lSDiANDwxcT4gO.jpg" title="3 bedroom Flat / Apartment for rent OLALEYE Estate  Alaka/Iponri Surulere Lagos"/> </a>
<div class="save-heart">
<a href="/profile/add-favorite/574634"><i class="fa fa-heart"></i></a>
</div>
<div class="room-icons">
<span><span>9</span> <img alt="icon" src="/assets/assets/img/property/2f8b655773948c43f77e8c928e94bbe3-img.png"/> </span>
</div>

</div>
<div class="single-room-text">
<a href="/property/3-bedroom-flat-apartment-for-rent-olaleye-estate-alaka-iponri-surulere-lagos-9ECUX"> <h2 class="listings-property-title">3 BEDROOM FLAT / APARTMENT FOR RENT</h2> </a>
<h4><img alt="icon" src="/assets/assets/img/resultpage/a6b70a0c1c4423f60780bdda189b91e3-location.svg" title="icon"/>OLALEYE Estate Alaka Iponri Surulere Lagos</h4>
<h3 class="listings-property-title2">Brand New Spacious And Serviced 3Bedroom Apartments In Surulere </h3>
<div class="n50">
<h3 class="listings-price" itemscope="" itemtype="http://schema.org/Offer"> <span content="NGN" itemprop="priceCurrency">₦</span> <span content="2500000.0" itemprop="price">2,500,000</span> </h3>
<h4>Premium Gold</h4>
</div>
<h5> <img alt="icon" src="/assets/assets/img/resultpage/03a0a19c8a1e23ef8d78f6130eb0aa22-watch-icon.png" title="icon"/> Updated 27 Dec 2020, Added 16 Dec 2020 </h5>
<h2>PID: 9ECUX</h2>
<div class="furnished-btn">
</div>
<div class="result-list-details">
<p class="d-none d-sm-block"> FOR RENT: Brand new service 3 bedroom flat all rooms ensuite with a guest toilet oven, g.. <a href="/property/3-bedroom-flat-apartment-for-rent-olaleye-estate-alaka-iponri-surulere-lagos-9ECUX">Read more</a> </p>
</div>
<div class="fur-areea">
<span><img alt="bed-icon" src="/assets/assets/img/resultpage/71e561d192ed8abb553ba6448816466d-beds.svg" title="bed-icon"/>3 beds</span>
<span><img alt="bath-icon" src="/assets/assets/img/resultpage/3945e8adbd5fbe44046a606d2dacd7ca-bath.svg" title="bath-icon"/>4 baths</span>
<span><img alt="toilet-icon" src="/assets/assets/img/resultpage/0a8c8b34dbdfcc7b9d5eaeca83e87ebf-toilet.svg" title="toilet-icon"/>4 Toilets</span>
</div>
<div class="elite-icon">
<a href="/agent/homesearch-and-properties"><img alt="agent-icon" src="https://images.propertypro.ng/logo/30e5a124-5346-43d2-a8e2-f1b452439946HOMESEARCH_LOGO2.png" title="agent-icon"/></a>
</div>
</div>
</div>

In [23]:
listing_divs[0].select('h4')[0].text

'OLALEYE Estate Alaka Iponri Surulere Lagos'

In [24]:
listing_divs[0].select('h3[class*=listings-price]')[0].text.strip()

'₦ 2,500,000'

In [25]:
listing_divs[0].select('div[class*=fur-areea]')[0].text.strip().split('\n')

['3 beds', '4 baths', '4 Toilets']

In [51]:
listing_divs[7].select('div[class*=furnished-btn]')[0].text.strip().split('\n')

['Serviced', 'Newly Built']

Now that I've gotten all the relevant information, I'll put all the codes together;

In [53]:
all_listings_data = []
for indv_listing in listing_divs:
    address = indv_listing.select('h4')[0].text
    price = indv_listing.select('h3[class*=listings-price]')[0].text.strip()
    listing_data = [address, price]
    utilities = indv_listing.select('div[class*=fur-areea]')[0].text.strip().split('\n')
    listing_data.extend(utilities)
    extra = indv_listing.select('div[class*=furnished-btn]')[0].text.strip().split('\n')
    listing_data.append(extra)
    all_listings_data.append(listing_data)
    
pd.DataFrame(all_listings_data)

,0,1,2,3,4,5
0,OLALEYE Estate Alaka Iponri Surulere Lagos,"₦ 2,500,000",3 beds,4 baths,4 Toilets,[]
1,Ikota Lekki Lagos,"₦ 2,800,000",3 beds,3 baths,4 Toilets,[Newly Built]
2,"Off Kudirat Abiola way, Julie EstateOregun Ike...","₦ 2,500,000",3 beds,3 baths,4 Toilets,[]
3,Ikate Lekki Lagos,"₦ 3,000,000",3 beds,4 baths,4 Toilets,[Serviced]
4,ShimawaMowe Obafemi Owode Ogun,"₦ 260,000",3 beds,1 baths,2 Toilets,[Newly Built]
5,Lekki Phase 1 Lekki Lagos,"₦ 2,800,000",3 beds,3 baths,4 Toilets,[]
6,Lekki Phase 1 Lekki Lagos,"₦ 3,000,000",3 beds,3 baths,4 Toilets,[]
7,-Old Ikoyi Ikoyi Lagos,"$ 40,000",3 beds,3 baths,4 Toilets,"[Serviced, Newly Built]"
8,Oniru Victoria Island Lagos,"₦ 3,000,000",3 beds,3 baths,4 Toilets,[Serviced]
9,Ologolo Lekki Lagos,"₦ 2,600,000",3 beds,3 baths,4 Toilets,"[Serviced, Newly Built]"
10,Lekki Phase 1 Lekki Lagos,"₦ 2,800,000",3 beds,4 baths,5 Toilets,[Newly Built]
11,...Lekki Phase 1 Lekki Lagos,"₦ 800,000",1 beds,1 baths,1 Toilets,[]
12,Lekki Phase 1 Lekki Lagos,"₦ 3,000,000",3 beds,3 baths,4 Toilets,[]
13,Alaka Estate Alaka Estate Surulere Lagos,"₦ 3,000,000",3 beds,4 baths,4 Toilets,[Furnished]
14,Lekki Phase 1 Lekki Lagos,"₦ 1,200,000",1 beds,1 baths,1 Toilets,[]
15,Gbagada Lagos,"₦ 300,000",1 beds,1 baths,1 Toilets,[]
16,Ikota villaIkota Lekki Lagos,"₦ 2,800,000",3 beds,4 baths,4 Toilets,"[Serviced, Newly Built]"
17,Off Ayo-Alabi RoadOke Ira Ogba Lagos,"₦ 350,000",1 beds,1 baths,1 Toilets,[]
18,Off College RoadIfako Ogba Ogba Lagos,"₦ 700,000",2 beds,2 baths,2 Toilets,[Furnished]
19,Ibeju Lekki Lagos,"₦ 350,000",1 beds,1 baths,2 Toilets,"[Furnished, Newly Built]"

**Writing a dynamic function to get the data;**

In [72]:
def parse_listing_data(location, max_price, rows_of_data=2000):
    all_listings_data = []
    page_num = 0
    
    while page_num < (rows_of_data / 20):
        url = "https://www.propertypro.ng/property-for-rent/flat-apartment/?search=" + location \
              + "&bedroom=&min_price=&max_price=" + str(max_price) + "&page=" + str(page_num)
        r = requests.get(url)
        soup = BeautifulSoup(r.content, 'html5lib')
        listing_divs = soup.select('div[class=single-room-sale\ listings-property]')
                
        for indv_listing in listing_divs:
            address = indv_listing.select('h4')[0].text
            price = indv_listing.select('h3[class*=listings-price]')[0].text.strip()
            listing_data = [address, price]
            utilities = indv_listing.select('div[class*=fur-areea]')[0].text.strip().split('\n')
            listing_data.extend(utilities)
            extra = indv_listing.select('div[class*=furnished-btn]')[0].text.strip().split('\n')
            listing_data.append(extra)
            all_listings_data.append(listing_data)
        page_num += 1    
    listing_df = pd.DataFrame(all_listings_data, columns=['neighborhood', 'price', 'beds', 'baths', 'toilets', 'extra'])
    return listing_df

### Getting Lagos' Listing Data

In [60]:
lagos_data = parse_listing_data('lagos', 2000000, 3000)

*************************1 page(s) done!******************************
*************************2 page(s) done!******************************
*************************3 page(s) done!******************************
*************************4 page(s) done!******************************
*************************5 page(s) done!******************************
*************************6 page(s) done!******************************
*************************7 page(s) done!******************************
*************************8 page(s) done!******************************
*************************9 page(s) done!******************************
*************************10 page(s) done!******************************
*************************11 page(s) done!******************************
*************************12 page(s) done!******************************
*************************13 page(s) done!******************************
*************************14 page(s) done!******************************
*************************15 page(s) done!******************************
*************************16 page(s) done!******************************
*************************17 page(s) done!******************************
*************************18 page(s) done!******************************
*************************19 page(s) done!******************************
*************************20 page(s) done!******************************
*************************21 page(s) done!******************************
*************************22 page(s) done!******************************
*************************23 page(s) done!******************************
*************************24 page(s) done!******************************
*************************25 page(s) done!******************************
*************************26 page(s) done!******************************
*************************27 page(s) done!******************************
*************************28 page(s) done!******************************
*************************29 page(s) done!******************************
*************************30 page(s) done!******************************
*************************31 page(s) done!******************************
*************************32 page(s) done!******************************
*************************33 page(s) done!******************************
*************************34 page(s) done!******************************
*************************35 page(s) done!******************************
*************************36 page(s) done!******************************
*************************37 page(s) done!******************************
*************************38 page(s) done!******************************
*************************39 page(s) done!******************************
*************************40 page(s) done!******************************
*************************41 page(s) done!******************************
*************************42 page(s) done!******************************
*************************43 page(s) done!******************************
*************************44 page(s) done!******************************
*************************45 page(s) done!******************************
*************************46 page(s) done!******************************
*************************47 page(s) done!******************************
*************************48 page(s) done!******************************
*************************49 page(s) done!******************************
*************************50 page(s) done!******************************
*************************51 page(s) done!******************************
*************************52 page(s) done!******************************
*************************53 page(s) done!******************************
*************************54 page(s) done!******************************
*************************55 page(s) done!******************************
*************************56 page(s) done!******************************
*************************57 page(s) done!******************************
*************************58 page(s) done!******************************
*************************59 page(s) done!******************************
*************************60 page(s) done!******************************
*************************61 page(s) done!******************************
*************************62 page(s) done!******************************
*************************63 page(s) done!******************************
*************************64 page(s) done!******************************
*************************65 page(s) done!******************************
*************************66 page(s) done!******************************
*************************67 page(s) done!******************************
*************************68 page(s) done!******************************
*************************69 page(s) done!******************************
*************************70 page(s) done!******************************
*************************71 page(s) done!******************************
*************************72 page(s) done!******************************
*************************73 page(s) done!******************************
*************************74 page(s) done!******************************
*************************75 page(s) done!******************************
*************************76 page(s) done!******************************
*************************77 page(s) done!******************************
*************************78 page(s) done!******************************
*************************79 page(s) done!******************************
*************************80 page(s) done!******************************
*************************81 page(s) done!******************************
*************************82 page(s) done!******************************
*************************83 page(s) done!******************************
*************************84 page(s) done!******************************
*************************85 page(s) done!******************************
*************************86 page(s) done!******************************
*************************87 page(s) done!******************************
*************************88 page(s) done!******************************
*************************89 page(s) done!******************************
*************************90 page(s) done!******************************
*************************91 page(s) done!******************************
*************************92 page(s) done!******************************
*************************93 page(s) done!******************************
*************************94 page(s) done!******************************
*************************95 page(s) done!******************************
*************************96 page(s) done!******************************
*************************97 page(s) done!******************************
*************************98 page(s) done!******************************
*************************99 page(s) done!******************************
*************************100 page(s) done!******************************
*************************101 page(s) done!******************************
*************************102 page(s) done!******************************
*************************103 page(s) done!******************************
*************************104 page(s) done!******************************
*************************105 page(s) done!******************************
*************************106 page(s) done!******************************
*************************107 page(s) done!******************************
*************************108 page(s) done!******************************
*************************109 page(s) done!******************************
*************************110 page(s) done!******************************
*************************111 page(s) done!******************************
*************************112 page(s) done!******************************
*************************113 page(s) done!******************************
*************************114 page(s) done!******************************
*************************115 page(s) done!******************************
*************************116 page(s) done!******************************
*************************117 page(s) done!******************************
*************************118 page(s) done!******************************
*************************119 page(s) done!******************************
*************************120 page(s) done!******************************
*************************121 page(s) done!******************************
*************************122 page(s) done!******************************
*************************123 page(s) done!******************************
*************************124 page(s) done!******************************
*************************125 page(s) done!******************************
*************************126 page(s) done!******************************
*************************127 page(s) done!******************************
*************************128 page(s) done!******************************
*************************129 page(s) done!******************************
*************************130 page(s) done!******************************
*************************131 page(s) done!******************************
*************************132 page(s) done!******************************
*************************133 page(s) done!******************************
*************************134 page(s) done!******************************
*************************135 page(s) done!******************************
*************************136 page(s) done!******************************
*************************137 page(s) done!******************************
*************************138 page(s) done!******************************
*************************139 page(s) done!******************************
*************************140 page(s) done!******************************
*************************141 page(s) done!******************************
*************************142 page(s) done!******************************
*************************143 page(s) done!******************************
*************************144 page(s) done!******************************
*************************145 page(s) done!******************************
*************************146 page(s) done!******************************
*************************147 page(s) done!******************************
*************************148 page(s) done!******************************
*************************149 page(s) done!******************************
*************************150 page(s) done!******************************

In [61]:
lagos_data

,neighborhood,price,beds,baths,toilets,extra
0,-Old Ikoyi Ikoyi Lagos,"$ 40,000",3 beds,3 baths,4 Toilets,"[Serviced, Newly Built]"
1,...Lekki Phase 1 Lekki Lagos,"₦ 800,000",1 beds,1 baths,1 Toilets,[]
2,Lekki Phase 1 Lekki Lagos,"₦ 1,200,000",1 beds,1 baths,1 Toilets,[]
3,St.Finbars Akoka Yaba Lagos,"₦ 500,000",beds,baths,1 Toilets,"[Furnished, Serviced, Newly Built]"
4,St. Finbars Akoka Yaba Lagos,"₦ 600,000",beds,baths,1 Toilets,"[Furnished, Serviced, Newly Built]"
...,...,...,...,...,...,...
2995,Abiola Estate Ayobo LagosAyobo Ipaja Lagos,"₦ 400,000",2 beds,2 baths,2 Toilets,[]
2996,Close to adekunle Ebute Metta Yaba Lagos,"₦ 300,000",1 beds,0 baths,0 Toilets,[]
2997,Iyana ipaja Ipaja Road Ipaja Lagos,"₦ 250,000",1 beds,1 baths,2 Toilets,[]
2998,MorrocoAbule Ijesha Yaba Lagos,"₦ 850,000",3 beds,2 baths,Toilets,[]
2999,Off CMD road magodo phase 2 Omole Phase 2 Ojod...,"₦ 2,000,000",3 beds,3 baths,4 Toilets,[Furnished]

In [64]:
lagos_data.to_csv("rent_listings_lagos.csv", index=False)

### Getting Ibadan's Data

In [75]:
ibadan_data = parse_listing_data('oyo', 2500000, 2000)

In [76]:
ibadan_data

,neighborhood,price,beds,baths,toilets,extra
0,Iyaganku GRA quarters IbadanIyanganku Ibadan Oyo,"₦ 1,000,000",3 beds,3 baths,3 Toilets,[]
1,Behind DSS ile tuntun nihort Jericho ibadanIdi...,"₦ 450,000",3 beds,3 baths,3 Toilets,[]
2,Yidi apete junction ibadan Ibadan Polytechnic...,"₦ 126,000",1 beds,1 baths,1 Toilets,"[Serviced, Newly Built]"
3,"Adeoyo GRA, off ring road, ibadan Ring Rd Ibad...","₦ 750,000",3 beds,3 baths,4 Toilets,[Newly Built]
4,"Opposition nnpc filling station, akala express...","₦ 600,000",3 beds,3 baths,4 Toilets,[Newly Built]
...,...,...,...,...,...,...
506,"Salute, tipper. Akala express, ibadanAkala Exp...","₦ 200,000",1 beds,1 baths,2 Toilets,[Newly Built]
507,OrogunIbadan Oyo,"₦ 180,000",3 beds,2 baths,2 Toilets,[]
508,Elebu OjaAkala Express Ibadan Oyo,"₦ 350,000",2 beds,2 baths,2 Toilets,"[Furnished, Newly Built]"
509,Onigbodogi Apete IbadanAjibode Ibadan Oyo,"₦ 120,000",1 beds,1 baths,1 Toilets,[]
510,...Akala Express Ibadan Oyo,"₦ 500,000",3 beds,4 baths,4 Toilets,[]

In [77]:
ibadan_data.to_csv("rent_listings_oyo.csv", index=False)

### Getting Abuja's Data

In [84]:
abuja_data = parse_listing_data('abuja', 3000000, 3000)

In [85]:
abuja_data.to_csv("rent_listings_abuja.csv", index=False)
abuja_data

,neighborhood,price,beds,baths,toilets,extra
0,DawakiGwarinpa Abuja,"₦ 1,500,000",3 beds,3 baths,4 Toilets,[Newly Built]
1,Gaduwa Abuja,"₦ 1,500,000",3 beds,3 baths,4 Toilets,[]
2,Maitama Abuja,"₦ 2,500,000",2 beds,2 baths,4 Toilets,[Serviced]
3,In an estate behind games village Garki 1 Abuja,"₦ 1,500,000",2 beds,2 baths,3 Toilets,[]
4,Dawaki opposite gwarinpaGwarinpa Abuja,"₦ 1,000,000",2 beds,2 baths,3 Toilets,[Newly Built]
...,...,...,...,...,...,...
677,Off 69 Road GwarimpaGwarinpa Abuja,"₦ 2,000,000",3 beds,3 baths,4 Toilets,"[Serviced, Newly Built]"
678,New site estate sauka close to FHALugbe Abuja,"₦ 550,000",1 beds,1 baths,1 Toilets,[Newly Built]
679,Kado estateKado Abuja,"₦ 1,500,000",2 beds,2 baths,3 Toilets,[Furnished]
680,...Durumi Abuja,"₦ 2,800,000",0 beds,0 baths,0 Toilets,[]
681,Gwarinpa Abuja,"₦ 2,500,000",4 beds,4 baths,4 Toilets,"[Furnished, Newly Built]"

### Getting Ogun's Data

In [80]:
ogun_data = parse_listing_data('ogun', 1500000, 2000)

In [81]:
ogun_data.to_csv("rent_listings_ogun.csv", index=False)
ogun_data

,neighborhood,price,beds,baths,toilets,extra
0,ShimawaMowe Obafemi Owode Ogun,"₦ 260,000",3 beds,1 baths,2 Toilets,[Newly Built]
1,Adigbe Abeokuta Ogun,"₦ 300,000",2 beds,3 baths,3 Toilets,[]
2,Private EstateMagboro Obafemi Owode Ogun,"₦ 250,000",1 beds,1 baths,2 Toilets,[]
3,MagboroMagboro Obafemi Owode Ogun,"₦ 350,000",2 beds,2 baths,2 Toilets,[]
4,Private EstateArepo Ogun,"₦ 450,000",2 beds,2 baths,3 Toilets,[]
...,...,...,...,...,...,...
183,"Ima Road, Abiola Way, Abeokuta.Abeokuta Ogun","₦ 250,000",2 beds,2 baths,3 Toilets,[]
184,Egan road Iyesi otaAdo Odo Ota Ogun,"₦ 180,000",3 beds,4 baths,4 Toilets,"[Furnished, Newly Built]"
185,Abeokuta Street Dalemo Sango otaAdalemo Ado Od...,"₦ 200,000",1 beds,1 baths,1 Toilets,[]
186,Ibafo Obafemi Owode Ogun,"₦ 350,000",2 beds,2 baths,2 Toilets,[Newly Built]
187,"52 Ojo Adewole Street, Akeja Area, Near Navy S...","₦ 250,000",3 beds,2 baths,3 Toilets,[]

### Getting PortHarcourt's Data

In [82]:
ph_data = parse_listing_data('rivers', 2500000, 2500)

In [86]:
ph_data.to_csv("rent_listings_ph.csv", index=False)
ph_data

,neighborhood,price,beds,baths,toilets,extra
0,GRA phase 3 tombia extensionNew Gra Port Harco...,"₦ 1,500,000",2 beds,2 baths,2 Toilets,[Newly Built]
1,Ada George Port Harcourt Rivers,"₦ 500,000",2 beds,2 baths,2 Toilets,"[Furnished, Newly Built]"
2,odili roadTrans Amadi Port Harcourt Rivers,"₦ 550,000",1 beds,1 baths,2 Toilets,[]
3,Trans Amadi Port Harcourt Rivers,"₦ 650,000",beds,baths,Toilets,[]
4,Trans Amadi Port Harcourt Rivers,"₦ 700,000",beds,baths,Toilets,[]
...,...,...,...,...,...,...
99,Woji Port Harcourt Rivers,"₦ 750,000",1 beds,2 baths,2 Toilets,"[Serviced, Newly Built]"
100,RumuodaraPort Harcourt Rivers,"₦ 800,000",3 beds,4 baths,4 Toilets,[]
101,Off peter odili roadTrans Amadi Port Harcourt ...,"₦ 1,400,000",3 beds,4 baths,4 Toilets,[Newly Built]
102,"N0.3 DR.ANJU CLOSE, OFF CHIEF UMEH STREET, AGI...","₦ 800,000",3 beds,2 baths,2 Toilets,[]
103,Shell Co-operativeEneka Port Harcourt Rivers,"₦ 800,000",2 beds,3 baths,3 Toilets,[]